.dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Espaçamento entre os campos do formulário */
  width: 100%;
}

.dropdown-label {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  text-align: left;
}

/* .dropdown-select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
} */

.dropdown-select {
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  width: 94%;
}

/* Estilo para o dropdown de template, tornando-o maior e mais destacado */
.dropdown-template-style .dropdown-select {
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  width: 46%;
}

.dropdown-select:focus {
  outline: none;
  border-color: #007bff; /* Cor de destaque ao focar */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
