.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-right: 2%;
  width: 46%;
  box-sizing: border-box;
}

.input-label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
  color: #1c1c1c;
  display: flex;
}

.custom-input {
  height: 30px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.custom-input:focus {
  border-color: #007bff;
  outline: none;
}

/* Classe especial para o container do input de descrição */
.input-descricao-grande {
  width: 100%; /* Faz o container do input ocupar a linha toda */
}

/* Altera a altura do campo .custom-input QUANDO ele está dentro do container .input-descricao-grande */
.input-descricao-grande .custom-input {
  height: 90px;
  resize: vertical; /* Opcional: permite que o usuário aumente a altura */
}
